@import './../../../../assets/styles/mixins';

:host{
  display: flex;
  padding-top: 1rem;
  width: 100%;
}

header{
  width: inherit;
  @include wrap-page;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}