:host{
  display: block;
  margin-bottom: 1.5rem;
}

input{
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  color: white;
  background-color: inherit;
  border: 1px solid #0e406e;
  border-radius: .3rem;
}

label{
  margin-bottom: .5rem;
  display: block;
}