@import './../../../../assets/styles/mixins';

:host{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 2rem;
  @include wrap-page;
}

h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.square-buttons{
  display: flex;
  gap: .8%;
  margin-bottom: 1rem;
}

p{
  line-height: 1.5rem;
}

img{
  width: 30%;
}

@media screen and ( width < 960px ){
  img{
    width: 40%;
    object-fit: contain;
  }

  .discover-content{
    max-width: 55%;
  }
}

@media screen and ( width < 750px ) {
  :host{
    flex-direction: column;
    gap: 1rem;
  }

  img{
    width: 50%;
    margin: 0 auto;
  }

  .discover-content{
    max-width: 100%;
  }
}