
@mixin wrap-page{
  padding: 0 5rem;
  max-width: 1000px;
  margin: 0 auto;

  @media screen and ( width < 670px) {
    padding: 0 2rem;
  }
}

@mixin page-styles{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}